body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

svg {
    border-radius: 15px;
    background-color: lightgray;
    margin-right: 10px;
}

.centered-media img {
  display: block;
  margin: 0 auto;
  width: 50%;
  border: 2px solid #000;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.centered-media embed{
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 2px solid #000;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  height: 85vh;
}

.centered-media video {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.proj-image img{
  max-width: 25vw;
  max-height: 50vw;
  margin-left: auto;
  margin-right: auto;
}

body img{
  max-width:100%;
  height:auto;
}

.centered-media table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}

.centered-media td, .centered-media th {
  border: 1px solid #ddd;
  padding: 8px;
}

.centered-media tr:nth-child(even){background-color: #f2f2f2;}

.centered-media th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #9b9b9b;
  color: white;
}